@import '/src/utils/shared-styles.scss';

.story {
  // &__title-container {
  //   align-self: flex-end;
  // }

  &__image {
    width: 30%;
  }

  &__url {
    color: cadetblue;
  }

  &__score {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
  }

  &__info {
    margin-top: 1rem;
    // gap: 50px;
  }
}
