@import '/src/utils/shared-styles.scss';

.story {
  &__title-container {
    align-self: flex-end;
    width: 50%;
  }

  &__title {
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
  }

  &__image {
    width: 30%;
  }

  &__url {
    color: cadetblue;
    margin-top: 0.3rem;
  }

  &__score {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
  }

  &__info {
    margin-top: 1rem;
    color: grey;
    font-style: italic;
  }
}
