@import '/src/utils/shared-styles.scss';

.story {
  &__container {
    width: 100%;

    @media (min-width: 650px) {
      width: 80%;
    }
  }

  &__image-container {
    width: 30%;

    @media (min-width: 1400px) {
      width: 20%;
    }
  }

  &__image {
    height: 125px;
    object-fit: cover;

    @media (max-width: 649px) {
      width: 180px;
    }
  }

  &__title {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-bottom: 0.2rem;

    @media (min-width: 768px) {
      font-size: 1.2em;
    }
  }

  &__score {
    font-style: italic;

    @media (max-width: 650px) {
      margin-top: 0.3rem;
      margin-bottom: 0.5rem;
    }
  }

  &__url {
    color: cadetblue;
    margin-top: 0.3rem;
  }

  &__info {
    margin-top: 1rem;
    color: grey;
    font-style: italic;
    flex-grow: 2;
    align-items: flex-end;
  }
}
