body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eceef0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: 80%;
  margin: auto;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 2rem 1rem;
  margin: 2rem auto;
  box-shadow: 3px 3px 7px 0px rgb(0 0 0 / 5%);
}

.direction-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.container-direction-row {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 650px) {
    flex-direction: row;
  }
}

.display-none-large {
  @media (min-width: 650px) {
    display: none;
  }
}
.display-none-small {
  @media (max-width: 650px) {
    display: none;
  }
}
